*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* banner page */
.banner-section{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 5px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}
h3{
    font-size: 25px;
    font-weight: 800;
}
.home-login{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 17px;
    font-weight: 500;
}
.home-bar{
    list-style: none;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 862px;
    height: 225px;
    margin-left: 250px; 
    margin-top: 70px;
    
}
.brand-h{
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 10px;
}
.brand-ackno{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px ;
    width: 760px;
}
.but-explore{
    background-color: rgb(255, 136, 0) ;
    border: none;
    height: 50px;
     width: 120px;
    border-radius: 8px;
    color: white;
}
.banner-img{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.second-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
     padding: 100px 50px 100px 160px;
}
.team-head1{
    font-size: 22px;
    font-weight: 850;
    padding-bottom: 5px;
}
span{
    color: #727272;
}
.team-head2{
    font-size: 22px;
    font-weight: 850;
    padding-bottom: 10px;
    color:  rgb(255, 136, 0) ;
}
.team-para{
    width: 450px;
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}
/* third page  */
.third-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 120px;
    padding-right: 120px;
    gap: 30px;
    height: 800px;
}
.vl-and-head{
    display: flex;
   
}
.vl{
    border-left: 2px solid green;
    height: 55px;
    padding-right: 20px;
}
.features{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.feature-details-1{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.feature-details-2, .feature-details-3, .feature-details-4, .feature-details-5{
    width: 500px;
    padding-left: 40px;
}
h4{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}
.feature-para{
        color: #727272;
}
.third-page-img{
    position: static;
    
}
.overlay-para{
    background-color: orange;
    position: relative;
    height: 30%;
}
/* some-fact start */
.some-fact{
    display: flex;
    flex-direction: column;
    margin-left: 15% ;
    margin-right: 10%;   
    align-items: left;
    gap: 30px;
    
}
.fact{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.some-fact-para{
    width: 50%;
    padding-top: 15px;
}
.awards-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;

}
.award{
    margin: 20px;
    padding: 30px;
    border: 2px solid rgb(211, 175, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.awar-num{
    font-size: 30px;
    font-weight: 700;
}
.award-name{
    font-size: 15px;
    font-weight: 800px;
    color: #464343;
}
/* sponsor page */
.sponsor, .sponsor-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}
.sponsor-company-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
}
.sponsor-head{
    font-size: 35px;
    font-weight: 900;
    padding-top: 70px;
}
.sponsor-para{
    display: flex;
    flex-direction: column;
    gap: 5px;
   align-items: center;
    color: #727272;
    padding-bottom: 10px;
}
.sponsor-company-name{
   padding: 20px;
}
.copy-right{
    color: #464343;
    padding-top: 80px;
    margin-bottom: 50px;
}
/* bonus section */
.cont-details{
    display: flex;
    height: 60%;
    background-color: rgb(15, 15, 15);
}
.future{
    margin: 110px;
}
.future-head{
    color: white;
    font-size: 40px;
    font-weight: 900;
    
}
.future-para{
    color: white;
    margin-right: 30px;
    padding-right: 50px;
    padding-top: 20px;
}
.future-contact{
    color: white;
    padding-top: 10px;
}
.contact-logo{
    display: flex;
    padding-top: 10px;
}
.fb-logo{
    padding-right: 15px;
}
.subscribe{
    margin: 120px;
}
.subs-head{
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.subs-mail{
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}
.subs-button{
    background-color: rgba(9, 111, 245, 0.548);
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 15px;
}